<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilinklink.dao.mapper.PtAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ilinklink.dao.entity.PtAccount">
        <id column="Acc_ID" property="accId" />
        <result column="Acc_Type" property="accType" />
        <result column="Acc_Name" property="accName" />
        <result column="Acc_Avatar" property="accAvatar" />
        <result column="Acc_Account" property="accAccount" />
        <result column="Acc_Pwd" property="accPwd" />
        <result column="Pwd_Salt" property="pwdSalt" />
        <result column="Acc_Gender" property="accGender" />
        <result column="Acc_Tel" property="accTel" />
        <result column="Acc_Status" property="accStatus" />
        <result column="Status_UTime" property="statusUtime" />
        <result column="Acc_Remove" property="accRemove" />
        <result column="Remove_Time" property="removeTime" />
        <result column="Acc_CTime" property="accCtime" />
        <result column="Acc_UTime" property="accUtime" />
        <result column="Register_Acc_ID" property="registerAccId" />
    </resultMap>
</mapper>
